In [116]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [117]:
df = pd.read_csv("car data.csv")

In [118]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [119]:
df.shape

(301, 9)

In [120]:
df["Seller_Type"].value_counts()

Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [121]:
df["Fuel_Type"].value_counts()

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [122]:
df = pd.get_dummies(df, columns=["Transmission", "Seller_Type", "Fuel_Type"])

In [123]:
df = df.replace({True: 1, False: 0})

In [124]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Transmission_Automatic,Transmission_Manual,Seller_Type_Dealer,Seller_Type_Individual,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol
0,ritz,2014,3.35,5.59,27000,0,0,1,1,0,0,0,1
1,sx4,2013,4.75,9.54,43000,0,0,1,1,0,0,1,0
2,ciaz,2017,7.25,9.85,6900,0,0,1,1,0,0,0,1
3,wagon r,2011,2.85,4.15,5200,0,0,1,1,0,0,0,1
4,swift,2014,4.60,6.87,42450,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,0,0,1,1,0,0,1,0
297,brio,2015,4.00,5.90,60000,0,0,1,1,0,0,0,1
298,city,2009,3.35,11.00,87934,0,0,1,1,0,0,0,1
299,city,2017,11.50,12.50,9000,0,0,1,1,0,0,1,0
300,brio,2016,5.30,5.90,5464,0,0,1,1,0,0,0,1

In [125]:
df.drop("Car_Name", inplace=True, axis=1)

In [126]:
x = df.drop("Selling_Price", axis=1)
y = df["Selling_Price"]

In [127]:
s = StandardScaler()
x = s.fit_transform(x)

In [128]:
y = np.array(y)

s = StandardScaler()

y = y.reshape(-1, 1)
y = s.fit_transform(y)

In [129]:
x.shape, y.shape

((301, 11), (301, 1))

In [130]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.2, random_state=43)

In [131]:
lr = LinearRegression()
lr.fit(xtrain, ytrain)
xtrained = lr.predict(xtrain)
r2_score(ytrain, xtrained)

0.8901877637042551

In [132]:
lr = LinearRegression()
lr.fit(xtest, ytest)
xtested = lr.predict(xtest)
r2_score(ytest, xtested)

0.9415810538457936